* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
.container {
   background-color: orange;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
h1 {
    height: 250px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    border-radius: 65%;
    font-weight: 900;
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: grey;
   box-shadow: 5px 8px 20px 19px 16px black;
   transition-duration: 1s;
}
h1:hover {
    transform: rotate(360deg);
}